.form-outer-divs {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
}

.login-container {
	width: 40%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 0.5rem;
}

@media screen and (max-width: 550px) {
	.form-outer-divs {
		width: 100%;
	}

	.login-container {
		width: 100%;
	}
	.login-container form {
		width: 80%;
	}
}
